.container{
    width: 70em;
}

.green{
    background-color: green; 
    position: relative; 
    width: 25em; 
    height: 28.8em; 
    border: solid; 
    border-color: black;
    border-radius: 250px 0px 0px 0px;
    text-align: center;
}

.yellow{
    background-color: yellow;
    position: relative;
    width: 25em; 
    height: 28.8em; 
    border: solid; 
    border-color: black;
    border-radius: 0px 250px 0px 0px;
    text-align: center;
}

.blue{
    background-color: blue; 
    position: relative; 
    width: 25em; 
    height: 28.8em;
    border: solid; 
    border-color: black;
    border-radius: 0px 0px 0px 250px; 
    text-align: center;
}

.red{
    background-color: red; 
    position: relative; 
    width: 25em; 
    height: 28.8em;
    border: solid; 
    border-color: black;
    border-radius: 0px 0px 250px 0px;
    text-align: center;
}

.green:active{
    background-color: lightgreen;
}

.yellow:active{
    background-color: lightyellow;
}

.blue:active{
    background-color: lightblue;
}

.red:active{
    background-color: pink;
}

.startbutton:hover{
    cursor: pointer;
}

#show-rounds{}